// Define variables for your color scheme

// For example:
$red: #d52c2f;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #47cf92;
$gray: #290303;
$medium-gray: #787676;
$light-gray: #F4F4F4;
$white: #fff;

$fandango: #A62A99;
$fandango-200: rgba(167, 42, 155, 0.45);
$fandango-100: #a62a9a0d;
$white-smoke: #F5F5F5;
$periwinkle: #C7D2FB;
$periwinkle-100: #c7d2fb27;
$periwinkle-200: #c7d2fb71;
$vista-blue: #889BF4;
$savoy-blue: #555DAA;
$light-orange: #FBD8B7;
$light-orange-100: rgba(251, 216, 183, 0.55);
$light-orange-200: rgba(251, 216, 183, 0.75);
