// Define variables for your color scheme

// For example:
$red: #d52c2f;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #47cf92;
$gray: #290303;
$medium-gray: #c3c0c0;
$light-gray: #F4F4F4;

$fandango: #A62A99;
$fandango-100: #a62a9a0d;
$white-smoke: #F5F5F5;
$periwinkle: #C7D2FB;
$periwinkle-100: #c7d2fb27;
$periwinkle-200: #c7d2fb71;
$vista-blue: #889BF4;
$savoy-blue: #555DAA;
$light-orange: #FBD8B7;
