
<%# <div class="container"> %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 padx-4">
      <div class="accordion" id="filterDiv" data-search-meetups-target="filter">
      <h2 class="fs-4 mb-2">Other meetups</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Filter by...
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <ul class="d-flex flex-wrap flex-start">
                  <% meetup_category.each do |category| %>
                    <li class="d-flex flex-row align-items-center me-5 mb-4">
                      <label for="<%= category.id %>" class="me-2"><%= category.meetup_topic %></label>
                      <input name="cb" type="checkbox" id="<%= category.id %>"  data-action='click->search-meetups#filter' checked>
                    </li>
                  <% end %>
                </ul>
                <div>
                  <button class="btn btn-sm btn-primary" data-action='click->search-meetups#selectall'>select all</button>
                  <button class="btn btn-sm btn-secondary" data-action='click->search-meetups#unselectall'>select none</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    <%# </div> %>
  </div>
</div>
