

          <div class="modal fade" id="filterMeetup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tick the topic(s) you like</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <% meetup_category.each do |category| %>

                  <p><input type="checkbox" id="<%= category.id %>">
                  <%= category.meetup_topic %>(<%= category.meetup_type %>)</p>
                  <% end %>

                  <a href="">reset filter</a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Set Filter</button>
                </div>
              </div>
            </div>
          </div>
