<div>
  <p><%= @meetup.content %> </p>

  <textarea name="message" cols="40" rows="5"></textarea>
   <%= link_to "Send Message","", class: "btn btn-primary w-100 align-self-end" %>
</div>


<div class="row">
    <div class="col-12 col-md-4 mb-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submitTip">
          Add your tip
      </button>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="submitTip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add your tip</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Form will go here...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
