// CSS for airport show page
.terminal-header {
  // background: $periwinkle-100;
  // background: red;
}

.airport-show__cards {
  margin: .75rem auto;
}
.airport-show__card {
  max-width: 300px;
  margin: auto;
}
.airport__name {
  font-weight: 700;
  margin-bottom: 8px;
  color: $fandango;
}

.airport__terminal {
  margin-bottom: 0;
}

.flight-list__item {
 border-bottom: 1px solid $gray-300 !important;
}
