

// CSS for airport show page
.terminal-header {
  background: $periwinkle-100;
}

.airport-show__cards {
  margin: 1rem auto;
}
.airport-show__card {
  max-width: 300px;
  margin: auto;
}


.flight-list__item {
 border-bottom: 1px solid $gray-300 !important;
}
