// Specific CSS for your home-page
h1.app-heading {
  font-family: $display-font;
  font-size: 3rem;
  letter-spacing: 4px;
}

// homepage airport search bar results
.airport-terminal__link {
  text-decoration: none;
}

.home-page__bg {
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    flex-grow: 1;
}

.home-page__logo {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  object-fit: contain;
}

.home-page__tagline {
  margin-top: 4rem;
}

.home-page__find-airport {
  border: 3px solid $light-orange !important;
}

.airports-list li:hover {
  background-color: $light-orange !important;
  &:active {
    background-color: $light-orange !important;
  }
}

@media(min-width: 768px) {

  .home-page__logo {
    max-width: 400px;
  }
  .home-page__tagline {
    margin-top: 6rem;
  }

}

@media(min-width: 1025px) {
  .home__content {
      margin-top: 35px;
    }
}
@media(min-width: 1350px) {
  .home__content {
      margin-top: 50px;
    }
}
