// Specific CSS for your home-page
h1.app-heading {
  font-family: $display-font;
  font-size: 3rem;
  letter-spacing: 4px;
}

// homepage airport search bar results
.airport-terminal__link {
  text-decoration: none;
}
