select[name = "categories"] {
  width: 100%;
  // border: 2px solid $gray-300;
  // min-height: 350px;
}
select[name = "categories"] > option {
  margin: 8px 0;
  padding: 8px;
}
// select[name = "categories"] > option:not(:last-child) {
//   border-bottom: 1px solid $gray-300;
// }

.tips-add-filtered {
  display: flex;
  flex-direction: column;
}
.tip-add {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .tips-add-filtered {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    .tip-add {
      order: 2;
      max-height: 50px;
      align-self: flex-end;
      flex-basis: 200px;
      margin-bottom: 0;
    }

    .filter {
      order: 1;
      flex-grow: 1;
      max-width: 300px;
    }
}
