select[name = "categories"] {
  width: 100%;
  // border: 2px solid $gray-300;
  // min-height: 350px;
}
select[name = "categories"] > option {
  margin: 8px 0;
  padding: 8px;
}
// select[name = "categories"] > option:not(:last-child) {
//   border-bottom: 1px solid $gray-300;
// }
