<div class="container-fluid airport-nav__container shadow-sm">
  <div class="row airport-nav__row">
    <nav aria-label="airport terminal navigation" class="airport-nav col-12 col-md-9 d-flex align-items-center">
      <span class="justify-content-center align-items-center flex-column secondary-nav__item">
        <span class="d-flex justify-content-center p-1 h-100">
          <i class="fa-solid fa-plane-departure white mb-1"></i>
        </span>
          <%= link_to "Home", airport_path(@airport), class: "airport-nav__link d-flex align-items-center text-decoration-none text-center d-flex" %>
      </span>
      <span class="justify-content-center align-items-center flex-column secondary-nav__item">
        <span class="d-flex justify-content-center p-1 h-100">
          <i class="fa-solid fa-comments white mb-1"></i>
        </span>
        <%= link_to "Meet", airport_meetups_path(@airport), class: "airport-nav__link d-flex align-items-center text-decoration-none text-center d-flex" %>
      </span>
      <span class="justify-content-center align-items-center flex-column secondary-nav__item">
        <span class="d-flex justify-content-center p-1 h-100">
          <i class="fa-solid fa-thumbs-up white mb-1"></i>
        </span>
        <%= link_to "Top tips", airport_tips_path(@airport), class: "airport-nav__link d-flex align-items-center text-decoration-none text-center d-flex" %>
      </span>
      <span class="justify-content-center align-items-center flex-column secondary-nav__item">
        <span class="d-flex justify-content-center p-1 h-100">
          <i class="fa-solid fa-utensils white mb-1"></i>
        </span>
        <%= link_to "Facilities", airport_facilities_path(@airport), class: "airport-nav__link d-flex align-items-center text-decoration-none text-center d-flex" %>
      </span>
    </nav>
  </div>
</div>
