<div class="container">
  <div class="row">
    <nav class="col-12 col-md-9 d-flex justify-content-center align-items-center">
      <%= link_to "Terminal home", airport_path(@airport), class: "link-primary d-inline-block mb-1 ms-1 me-1" %>
      <%= link_to "Meet people", airport_meetups_path(@airport), class: "link-primary d-inline-block mb-1 ms-1 me-1" %>
      <%= link_to "Top tips", airport_tips_path(@airport), class: "link-primary d-inline-block mb-1 ms-1 me-1" %>
      <%= link_to "Facilities", airport_facilities_path(@airport), class: "link-primary d-inline-block mb-1 ms-1 me-1" %>
    </nav>
  </div>
</div>
