<div class="container-fluid footer">
  <footer>
    <ul class="nav justify-content-center align-items-center border-bottom py-3">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link footer-link px-2"  %></li>
      <li class="nav-item"><%= link_to "Find an airport", root_path, class: "nav-link footer-link px-2"  %></li>
    </ul>
  </footer>
</div>
