<div class="container">
  <div class="row">
    <div class="col my-5">
      <h1 class="text-center">airportGuru</h1>
      <p class="h3 text-center">Your holiday starts here</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-md-8 my-5">
      <h2 class="text-center mb-3">Find your airport</h2>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="eg Heathrow..." aria-label="Airport name" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
      <%# form goes here %>
    </div>
  </div>
</div>
