<div class="container">
  <div class="home__content d-flex flex-column justify-content-center align-items-center h-100">
    <div class="row w-100 justify-content-center">
      <div class="col col-md-8 my-5">
        <h1 class="text-center">airportGuru</h1>
        <p class="h3 text-center">Your holiday starts here</p>
      </div>
    </div>
    <%= render "airports/form" %>
  </div>
</div>
