<div data-search-flights-target="list">
  <div class="row w-100">
    <div class="">
    <% if flights.present? %>
    <ul class="col-12 mb-3 flights-list list-group">
      <% flights.each do |flight| %>
        <%= render "/airports/flight_info", flight: flight %>
      <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
