<div data-search-flights-target="list">
  <div class="row w-100">
    <div class="col-12 mb-5">
    <% if flights.present? %>
    <ul class="airports-list list-group">
      <% flights.each do |flight| %>
        <%= render "/airports/flight_info", flight: flight %>
      <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
