<div data-search-airports-target="list">
  <div class="row w-100 justify-content-center m-0">
    <div class="col-12 col-md-6 mb-5 pe-0">
    <% if airports.present? %>
    <ul class="airports-list list-group">
      <% airports.each do |airport| %>
        <%= render "/airports/airport_name", airport: airport %>
      <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
