<div class="row w-100 justify-content-center">
  <div class="col-12 col-md-4 col-offset-4 mb-5">
    <% @airports.each do |airport| %>
    <p><%= airport.name %>
      <%= link_to "go to airport", airports_path, class: "btn btn-primary" %>
    </p>
  <% end %>
  </div>
</div>
