<div class="container">
  <%= render "shared/airport_show_header" %>

  <div class="airport-show__cards row justify-content-center gap-3">
      <div class="col-12 col-md-3">
        <div class="airport-show__card card shadow-sm border-0 py-5 text-center">
          <div class="card-body">
            <%= link_to "Meet People", airport_meetups_path(@airport), class: "text-decoration-none stretched-link" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="airport-show__card card shadow-sm border-0 py-5 text-center">
          <div class="card-body">
            <%= link_to "Top Tips", airport_tips_path(@airport), class: "text-decoration-none stretched-link" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="airport-show__card card shadow-sm border-0 py-5 text-center">
          <div class="card-body">
            <%= link_to "Facilities", airport_facilities_path(@airport), class: "text-decoration-none stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
