.accordion-item {
  border-width: 4px !important;
}

.accordion-button.collapsed {
  background: $periwinkle-200 !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: $gray;
  background: $periwinkle-200 !important;
}

.accordion-body {
  background: $light-orange-100 !important;
}
