.airport-nav {
  display: flex;
  justify-content: space-between;
}
.airport-nav__container {
  background: $secondary-navbar;
  position: sticky;
  top: 0;
  z-index: 50;
}
.airport-nav__row {
  padding: 1rem 0;
}
.airport-nav__link {
  color: $white;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
  &:active {
    color: $white;
  }
  &:visited {
    color: $white;
  }
}

@media (min-width: 600px) {
   .airport-nav__row {
      display: flex;
      justify-content: center;
   }

   .airport-nav {
    justify-content: center;
   }

   .secondary-nav__item {
      // margin-right: 3rem;
   }
}
