.footer {
  background: $footer;
  border-top: 4px solid $light-orange;
}

.footer-link {
  color: $white;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
  &:active {
    color: $white;
  }
  &:visited {
    color: $white;
  }
}
