*

.emojionearea{
  display: none;
}

.emojionearea-editor{
  display: none !important;
}

.emojionearea-button{

  position: relative !important;
  /* right: -50% !important; */
}

#emoticon{
  padding: 1vh;
  overflow: hidden !important;
  overflow-x: hidden;
}

@media (min-width: 400px) {
  .emojionearea-button-open{
    width: 2px;
    /* right: 50% !important; */
  }
  .emojionearea-button-close{
    width: 2px;
    top: -1vh !important;


  }

  .emojionearea-standalone{
    height: 4vh !important;
    width: 5vw !important;
    padding: 0 !important;

  }
}



@media (max-width: 400px) {
  .emojionearea-button-open{
    position: relative !important;
    left: 15% !important;
    /* right: 50% !important; */
  }
  .emojionearea-button-close{
    position: relative !important;
    left: 15% !important;
    top: -1vh !important;
  }

  .emojionearea-standalone{
    height: 5vh !important;
    width: 8vw !important;
    padding: 0 !important;

  }
}
