.navbar-lewagon {
  justify-content: space-between;
  background: $primary-navbar;
  border-bottom: 4px solid $light-orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.logo {
  font-family: $display-font;
  font-size: 2.75rem;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding: 0;
  // background-color: $light-orange-100;
}
